body,html {
	background-color: #143140;
	background-image: url("/images/backlogo.webp");
	color: gold;
	font-family: Arial, serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

a:link {
	color: aqua;
	text-decoration: none;
	background-color: none;
}

a:hover {
	text-decoration: underline;
	background-color: white;
	color: black;
	padding: 1px;
}

a:visited {color: gold;}

a.active {
	background-color: rgba(43, 87, 110, .75);
	text-decoration: none;
}

.boldgold {
	font-weight: bold;
	color: gold;
}

td.bold {font-weight: bold;}

table, th, td {
	padding: 10px;
	border: 1px solid gold;
	border-collapse: collapse;
	margin: auto;
	max-width: 100%;
}

/* GNS.php table */
table.gns, th.gns, tr.gns, td.gns {
	padding: 10px;
	border: 1px solid white;
	border-collapse: collapse;
	text-align: left;
	font-size: 13px;
}

table.gns {
	width: 100%;
}

th.gns {
	font-weight: bold;
	color: gold;
	min-width: 80px;
}

th.date {
	max-width: 0;
	padding: 10px;
	border: 1px solid white;
	border-collapse: collapse;
	text-align: left;
	font-size: 13px;
}

td.gns {
	size: 10px;
}

.inline {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.inline2 {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.centeredDiv {
	margin: 0;
	position: absolute;
	top: 50%;
}

tr.fi:hover {
	background-color: black;
	color: white;
}

h2 {
	font-size: 26px;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 10px black;
}

h3 {
	font-size: 22px;
	text-align: center;
	color: gold;
}

p, ol, li {font-size: 18px;}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
	}
	p, ol, li {
		font-size: 14px;
	}
}

.members {
	max-width: 100%;
	padding: 10px;
	border: 1px solid gold;
	border-collapse: collapse;
	margin: auto;
	table-layout: fixed;
	color: white;
}


* {box-sizing: border-box;}

td.small {font-size: 8px;}

/* BEGIN BOTTOM NAVI MENU */
.navbarbot {
	width: 25%;
	overflow: auto;
	text-align: center;
	margin: auto;
	float: left;
} /* Bot Nav Style */

.navbarbot a {
	float: left;
	padding: 5px;
	color: gold;
	font-size: 17px;
	width: 100%; /* 3 links = 33.33%, 4 links = 25% */
	text-align: center;
} /* Bot Nav Navigation links */

.navbarbot a:hover {
	background-color: white;
	color: black;
} /* Bot Nav Hover */

@media screen and (max-width: 600px) {
	.navbarbot {
		width: 50%;
	}
	.navbarbot a {
		float: none;
		display: block;
		width: 100%;
		text-align: center; /* If you want the text to be left-aligned on small screens */
	}
} /* Add responsiveness at 500px, links stacked instead of next to each other */
/* END BOTTOM NAVI MENU */

.float-left {float: left;}

.float-right {float: right;}

img {
	max-width: 100%;
	height: auto;
}

picture {
	max-width: 100%;
	height: auto;
}

.grid-container {
	display: grid;
	align-items: center;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	gap: 2px;
	padding: 2px;
	max-width: 75%;
	margin: auto;
}

@media screen and (max-width: 1000px) {
	.grid-container {
		max-width: 87%;
	}
	table, th, td {
		font-size:14px;
	}
}

@media screen and (max-width: 600px) {
	.grid-container {
		max-width: 100%;
	}
	#members {
		max-width: 100%;
		padding: 10px;
		border: 1px solid gold;
		border-collapse: collapse;
		margin: auto;
		table-layout: fixed;
		color: white;
		font-size: 14px;
	}
	a.no-list-style {
		list-style-type: none;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: left;
		color: gold;
		text-decoration: none;
		font-size: 14px;
	}
	table, th, td {
		font-size:8px;
	}

}

.item1 {
	grid-column-start: 1;
	grid-column-end: 10;
	padding-top: 0px;
	padding-bottom: 0px;
}

.item2 {
	grid-column-start: 1;
	grid-column-end: 10;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background-color: #062635;
	border-style: solid;
	border-color: gold;
	border-radius: 5px;
	border-width: thin;
}

.item3 {
	grid-column-start: 1;
	grid-column-end: 10;
	border-style: solid;
	border-color: gold;
	border-radius: 5px;
	border-width: thin;
	background-color: rgba(43, 87, 110, .75);
}

.item4 {
	grid-column-start: 1;
	grid-column-end: 10;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0;
	background-color: #062635;
	border-style: solid;
	border-color: gold;
	border-radius: 5px;
	border-width: thin;
}

.item5 {
	grid-column-start: 1;
	grid-column-end: 10;
	border-style: solid;
	border-color: gold;
	border-radius: 5px;
	border-width: thin;
	background-color: rgba(43, 87, 110, .75);
}

.Login {
  	width: 25%;
  	padding: 15px;
  	background-color: #3274d6;
	border-radius: 25px;
	border-width: thin;
	border-style: solid;
	border-color: gold;
  	border: 10;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
	margin: auto;
	top: 50%;
	left: 25%;
	right: 25%;
	text-align: center;
	font-size: 20px;
	position: absolute;
	color: gold;
}

@media screen and (max-width: 1000px) {
	.Login {
		width: 30%;
	}
}

@media screen and (max-width: 800px) {
	.Login {
		width: 35%;
	}
}

@media screen and (max-width: 600px) {
	.Login {
		width: 40%;
	}
}

@media screen and (max-width: 550px) {
	.Login {
		width: 55%;
	}
}

.grid-container > div {
	text-align: center;
	padding: 5px;
	font-size: 18px;
	color: white;
	max-width: 100%;
}

a.no-list-style {
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	color: gold;
	text-decoration: none;
}

.item2 a:hover {
	text-decoration: none;
	background-color: white;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}